*{
    top: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.especialidades_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 40px;
}

.container-especialidades{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-especialidades > div{
    background-color: white;
    width: auto;
    height: auto;
    margin-top: 50px;
}

form.form_update {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form.form_update label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    color: #333;
}

form.form_update input[type="text"],
form.form_update textarea,
form.form_update select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
}

form.form_update button[type="submit"] {
    background-color: #007BFF; 
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 100%;
    transition: all 0.2s ease-in-out;
}

form.form_update button[type="submit"]:hover {
    background-color: #0056b3;
}

.container-especialidades {
    padding: 30px;
    display: flex;
    justify-content: center;
}
